html, body{
    width: 425px;
    height: 400px;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid silver;
    background-color: aliceblue;
    box-shadow: 0 10px 14px -10px #0000002e;
}

section{
    padding: 10px;
}

section p{
    text-align: left;
    font-size: 14px;
}

section a{
    text-decoration: none;
    color: dodgerblue;
}